{% extends 'base.html' %} {% block head %}
<title>Task Track</title>
{% endblock %} {% block body %}
<div class="content">
  <h1>Task Track 📝</h1>
  {% if tasks|length<1 %}
  <h4>There are no tasks, create one below</h4>
  {% else %}

  <table>
    <tr>
      <th>Task</th>
      <th>Added</th>
      <th>Actions</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td class="task-content">{{ task.content }}</td>
      <td class="task-date">{{ task.date_created.date() }}</td>
      <td>
        <a class="delete" href="{{ url_for('delete', id=task.id) }}"">Delete</a>
        <br />
        <a href="{{ url_for('update', id=task.id) }}">Update</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <form action="/" method="POST">
    <input type="text" name="content" id="content" required/>
    <input type="submit" value="Add Task" />
  </form>
</div>
{% endblock %}
